.App {
  background-color: rgba(255, 255, 255, 0.5);
  
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
}
.containerInput {
  display: flex;
  justify-content: center;
}
.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  font-family: 'Alegreya', serif;
}
button {
  margin-left: 55px;
}
.dish {
  border: 1px solid black;
}
h1, h2, p, ul {
  font-family: 'Alegreya', serif;
}
.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 450px;
}
li {
  padding: 8px;
  font-size: 18px;
}
ul {
  margin: 0;
}
.calories {
  padding: 5px;
  margin-top: 11px;
}